@charset "utf-8";
/**
* sherlock221b
*/



.row{
  padding: 0 ;
}
.ib{
  display: inline-block;
}
.bg-gray{
  background: #f6f6f6;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.pos-rel{
  position: relative;
}
a{
  text-decoration: none;
}

.max-image{
  max-width: 100%;
  height: auto;
}

.f18:before{
  font-size: 18px;
}

.t2{
  position: relative;
  top: 2px;
}

.vt{
  vertical-align: top;
}

.D3{
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.inherit{
width: inherit;
height: inherit;
  }

.mtb40{
  margin: rem(80px) 0;
}

.vm{
  vertical-align: middle;
}